*.nc
*.csv
*.joblib
*.zip
*.pptx
*.env
*.png
*.jpg
*.gif
*.xlsx

labels/*
outputs/*
processed_data/*
misc/.ipynb_checkpoints/*
.ipynb_checkpoints/*
.__pycache__/*

!datasets/*
!raw_data/*
!labels.csv
!official_labels